<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aihoo.domain.consultation.model.mapper.MdtBannerMdtMapper">

    <delete id="deleteByMdtId">
        DELETE FROM t_mdt_banner WHERE mdt_id = #{id}
    </delete>
</mapper>
