<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aihoo.domain.consultation.model.mapper.MdtOrderMapper">


    <select id="getInfos" parameterType="Map" resultType="com.aihoo.domain.consultation.model.vo.MdtOrderTradeInfoVo">
        select
        tmo.id id,
        tmo.order_num orderNum,
        tmo.mdt_name mdtName,
        tmo.total_price totalPrice,
        tmo.pay_type payType,
        tmo.status status,
        tmo.create_time createTime,
        o.pay_order_num payOrderNum,
        ths.name hosSickName,
        <!-- th.hos_name hospitalName, -->
        GROUP_CONCAT(DISTINCT th.hos_name) hospitalName,
        tmo.consultation_doctor_name doctorName
        from t_mdt_order tmo 
        left join t_order o on tmo.order_num=o.order_num
        left join t_hos_sick ths on tmo.hos_sick_id=ths.id
        LEFT JOIN t_mdt_team_doctor t ON tmo.mdt_team_id = t.mdt_team_id
        left join t_doctor_user tdu on t.doctor_user_id=tdu.id
        left join t_hospital th on tdu.hospital_id=th.id
        <include refid="whereSql"></include>
        GROUP BY tmo.id
        order by tmo.create_time desc
        <if test="page != null and limit != null">
            LIMIT #{page} ,#{limit}
        </if>
    </select>

    <select id="getTotal" parameterType="Map" resultType="int">
        select
        count(tmo.id)
        from t_mdt_order tmo 
        left join t_order o on tmo.order_num=o.order_num
        left join t_hos_sick ths on tmo.hos_sick_id=ths.id
        LEFT JOIN t_mdt_team_doctor t ON tmo.mdt_team_id = t.mdt_team_id
        left join t_doctor_user tdu on t.doctor_user_id=tdu.id
        left join t_hospital th on tdu.hospital_id=th.id
        <include refid="whereSql"></include>
        GROUP BY tmo.id
    </select>


    <sql id="whereSql">
        <where>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and tmo.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="hosSickName != null and hosSickName != ''">
                and ths.name like concat('%', #{hosSickName}, '%')
            </if>
            <if test="doctorName != null and doctorName != ''">
                and tmo.consultation_doctor_name like concat('%', #{doctorName}, '%')
            </if>
            <if test="payType != null and payType != ''">
                and tmo.pay_type = #{payType}
            </if>
            <if test="hospitalName != null and hospitalName != ''">
                and th.hos_name like concat('%', #{hospitalName}, '%')
            </if>
            <if test="status != null and status != ''">
                and o.status in (${status})
            </if>
        </where>
    </sql>

    <select id="findMdtOrderById" resultMap="BaseResultMap">
        SELECT a.id,
               a.`name`,
               a.sex,
               a.age,
               a.id_card,
               a.mobile,
               a.`status`,
               a.order_num,
               a.create_time,
               a.pay_time,
               a.mdt_end_time,
               a.total_price,
               a.mdt_appointment_time,
               a.mdt_type,
               a.mdt_remark,
               a.attending_doctor_name,
               a.consultation_doctor_name,
               a.mdt_start_time,
               a.mdt_end_time,
               a.moderator,
               a.mdt_name,
               a.mdt_hospital,
               a.contact_way,
               a.out_file_remark,
               a.check_file_remark,
               a.admin_id,
               d.id as dId,
               d.video_record,
               d.consultation_records,
               b.id as reportId,
               b.medical_history_summary,
               b.consultation_summary,
               b.diagnosis_results,
               b.treatment_plan,
               c.id as auditId,
               c.report_id,
               c.audit_doctor_name,
               c.audit_result,
               c.audit_opinion,
               c.audit_time,
               c.is_main,
               c.doctor_type
        FROM t_mdt_order a
                 LEFT JOIN t_mdt_order_report b ON a.order_num = b.order_num
                 LEFT JOIN t_mdt_order_report_audit c ON b.id = c.report_id
                 LEFT JOIN t_mdt_report_record d ON a.id = d.mdt_order_id
        WHERE a.id = #{id}
    </select>
    <select id="findMapsPage" resultType="com.aihoo.domain.consultation.model.vo.MdtOrderVo">
        SELECT DISTINCT
        a.id,
        a.create_time,
        a.update_time,
        a.patient_user_id,
        a.hos_sick_id,
        a.admin_id,
        a.mdt_team_id,
        a.mdt_code,
        a.mdt_name,
        a.`name`,
        a.id_card,
        a.sex,
        a.age,
        a.mobile,
        a.total_price,
        a.pay_type,
        a.pay_time,
        a.`status`,
        a.msg,
        a.order_num,
        a.doctor_user_id,
        a.doctor_advice,
        a.mdt_appointment_time,
        a.mdt_start_time,
        a.mdt_end_time,
        a.mdt_date_str,
        a.mdt_time_str,
        a.out_file_remark,
        a.check_file_remark,
        a.video_file_remark,
        a.register_price,
        a.reg_order_num,
        a.reg_pay_type,
        a.reg_pay_time,
        a.attending_doctor_name,
        a.consultation_doctor_name,
        a.is_pay,
        a.is_reg_pay,
        a.is_count,
        a.im_doctor_number,
        a.mdt_hospital,
        a.moderator,
        a.contact_way,
        a.mdt_type,
        a.mdt_remark,
        a.mdt_room_url,
        a.mdt_room_id,
        a.is_can_chat,
        a.is_send_success,
        a.is_balance,
        a.report_doctor_id,
        a.prescription_doctor_id,
        b.`name` team_name
        FROM
        t_mdt_order a
        LEFT JOIN t_mdt_team b ON b.id = a.mdt_team_id
        <if test="map.doctorIdCard != null and map.doctorIdCard != ''">
            LEFT JOIN t_mdt_order_doctor c ON c.mdt_order_id = a.id
        </if>
        where
        1=1
        <if test="map.doctorIdCard != null and map.doctorIdCard != '' and map.adminId != null and map.adminId != ''">
            AND (c.doctor_id_card = #{map.doctorIdCard} or a.admin_id = #{map.adminId})
        </if>
        <if test="map.doctorIdCard != null and map.doctorIdCard != '' and (map.adminId == null or map.adminId == '')">
            AND c.doctor_id_card = #{map.doctorIdCard}
        </if>
        <if test="map.adminId != null and map.adminId != '' and (map.doctorIdCard == null or map.doctorIdCard == '')">
            and a.admin_id = #{map.adminId}
        </if>
        <if test="map.orderNum != null and map.orderNum != ''">
            and a.order_num = #{map.orderNum}
        </if>
        <if test="map.mdtType != null and map.mdtType != ''">
            and b.mdt_type = #{map.mdtType}
        </if>
        <if test="map.name != null and map.name != ''">
            and a.name like concat('%', #{map.name}, '%')
        </if>
        <if test="map.status != null and map.status != '' and map.status != 'ALL'">
            and a.status = #{map.status}
        </if>
        <if test="map.status == null or map.status == '' or map.status == 'ALL'">
            and a.status in ("DONE", "CANCEL", "ILLNESS_EXAMINE", "ILLNESS_EXAMINE_PASS", "CONSULTATION_CONFIRM",
            "CONSULTATION", "CONSULTATION_END" )
        </if>
        order by a.create_time desc
    </select>

    <resultMap id="BaseResultMap" type="com.aihoo.domain.consultation.model.entity.MdtOrder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="mdt_name" jdbcType="VARCHAR" property="mdtName"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
        <result column="pay_type" jdbcType="VARCHAR" property="payType"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="msg" jdbcType="VARCHAR" property="msg"/>
        <result column="order_num" jdbcType="VARCHAR" property="orderNum"/>
        <result column="doctor_user_id" jdbcType="BIGINT" property="doctorUserId"/>
        <result column="doctor_advice" jdbcType="VARCHAR" property="doctorAdvice"/>
        <result column="mdt_appointment_time" jdbcType="TIMESTAMP" property="mdtAppointmentTime"/>
        <result column="mdt_start_time" jdbcType="TIMESTAMP" property="mdtStartTime"/>
        <result column="mdt_end_time" jdbcType="TIMESTAMP" property="mdtEndTime"/>
        <result column="mdt_date_str" jdbcType="VARCHAR" property="mdtDateStr"/>
        <result column="mdt_time_str" jdbcType="VARCHAR" property="mdtTimeStr"/>
        <result column="out_file_remark" jdbcType="VARCHAR" property="outFileRemark"/>
        <result column="check_file_remark" jdbcType="VARCHAR" property="checkFileRemark"/>
        <result column="video_file_remark" jdbcType="VARCHAR" property="videoFileRemark"/>
        <result column="register_price" jdbcType="DECIMAL" property="registerPrice"/>
        <result column="reg_order_num" jdbcType="VARCHAR" property="regOrderNum"/>
        <result column="reg_pay_type" jdbcType="VARCHAR" property="regPayType"/>
        <result column="reg_pay_time" jdbcType="TIMESTAMP" property="regPayTime"/>
        <result column="attending_doctor_name" jdbcType="VARCHAR" property="attendingDoctorName"/>
        <result column="consultation_doctor_name" jdbcType="VARCHAR" property="consultationDoctorName"/>
        <result column="is_pay" jdbcType="VARCHAR" property="isPay"/>
        <result column="is_reg_pay" jdbcType="VARCHAR" property="isRegPay"/>
        <result column="is_count" jdbcType="VARCHAR" property="isCount"/>
        <result column="im_doctor_number" jdbcType="VARCHAR" property="imDoctorNumber"/>
        <result column="mdt_hospital" jdbcType="VARCHAR" property="mdtHospital"/>
        <result column="moderator" jdbcType="VARCHAR" property="moderator"/>
        <result column="contact_way" jdbcType="VARCHAR" property="contactWay"/>
        <result column="mdt_type" jdbcType="VARCHAR" property="mdtType"/>
        <result column="mdt_remark" jdbcType="VARCHAR" property="mdtRemark"/>
        <association property="mdtOrderReport" javaType="com.aihoo.domain.consultation.model.entity.MdtOrderReport">
            <id column="reportId" jdbcType="BIGINT" property="id"/>
            <result column="medical_history_summary" jdbcType="VARCHAR" property="medicalHistorySummary"/>
            <result column="consultation_summary" jdbcType="VARCHAR" property="consultationSummary"/>
            <result column="diagnosis_results" jdbcType="VARCHAR" property="diagnosisResults"/>
            <result column="treatment_plan" jdbcType="VARCHAR" property="treatmentPlan"/>
        </association>
        <collection property="mdtReportRecord" ofType="com.aihoo.domain.consultation.model.entity.MdtReportRecord">
            <id column="dId" jdbcType="BIGINT" property="id"/>
            <result column="mdt_order_id" jdbcType="BIGINT" property="mdtOrderId"/>
            <result column="video_record" jdbcType="VARCHAR" property="videoRecord"/>
            <result column="consultation_records" jdbcType="VARCHAR" property="consultationRecords"/>
        </collection>
        <collection property="mdtOrderReportAudit" ofType="com.aihoo.domain.consultation.model.entity.MdtOrderReportAudit">
            <id column="auditId" jdbcType="BIGINT" property="id"/>
            <result column="audit_doctor_name" jdbcType="VARCHAR" property="auditDoctorName"/>
            <result column="audit_result" jdbcType="VARCHAR" property="auditResult"/>
            <result column="audit_time" jdbcType="VARCHAR" property="auditTime"/>
            <result column="audit_opinion" jdbcType="VARCHAR" property="auditOpinion"/>
            <result column="report_id" jdbcType="BIGINT" property="reportId"/>
            <result column="is_main" jdbcType="VARCHAR" property="isMain"/>
            <result column="doctor_type" jdbcType="VARCHAR" property="doctorType"/>
        </collection>


    </resultMap>
</mapper>
