<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aihoo.domain.payment.model.mapper.OrderServiceMapper">



    <select id="getInquiryDetails" resultMap="BaseResultMap">
      SELECT
	     a.*,b.*,b.id as hosVisitImgId
         FROM
	     t_hos_visit a
         LEFT JOIN t_hos_visit_img b ON a.id = b.hos_visit_id
         WHERE
	     a.id = #{id}
    </select>

    <resultMap id="BaseResultMap" type="com.aihoo.domain.payment.model.entity.HosVisit">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="patient_user_id" jdbcType="BIGINT" property="patientUserId" />
        <result column="hos_sick_id" jdbcType="BIGINT" property="hosSickId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="id_card" jdbcType="VARCHAR" property="idCard" />
        <result column="sex" jdbcType="TINYINT" property="sex" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
        <result column="pay_type" jdbcType="VARCHAR" property="payType" />
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="msg" jdbcType="VARCHAR" property="msg" />
        <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
        <result column="five_star" jdbcType="INTEGER" property="fiveStar" />
        <result column="doctor_user_id" jdbcType="BIGINT" property="doctorUserId" />
        <result column="doctor_advice" jdbcType="VARCHAR" property="doctorAdvice" />
        <result column="first_visit" jdbcType="VARCHAR" property="firstVisit" />
        <result column="have_time" jdbcType="TIMESTAMP" property="haveTime" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="is_read_im" jdbcType="TINYINT" property="isPay" />
        <result column="is_pay" jdbcType="VARCHAR" property="isReadIm" />
        <collection property="hosVisitImg" ofType="com.aihoo.domain.payment.model.entity.HosVisitImg">
            <id column="hosVisitImgId" property="id"/>
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
            <result column="hos_visit_id" jdbcType="BIGINT" property="hosVisitId" />
            <result column="img" jdbcType="VARCHAR" property="img" />
            <result column="index" jdbcType="INTEGER" property="index" />
        </collection>
    </resultMap>
</mapper>