<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aihoo.domain.doctor.model.mapper.DoctorUserMapper">

    <sql id="Base_Column_List">
      id, create_time, update_time, create_user_id, mobile, head_img, `name`, age, sex,
    birthday, tag, member_num, hospital_id, hospital_name, depart_id, depart_code, depart_name,
    office_holder_code, office_holder_name,achievement,be_good_at_text, introduction_text, `status`,
    is_auth, token, ca_number, email, person_type_code, person_type_name, position_code,
    position_name, papers_code, papers_name, papers_numbers, user_sig, is_cancel,`index`,doctor_type
  </sql>
    <update id="cancel">
        UPDATE t_doctor_user SET
         is_auth = null ,token = null ,
         ca_number = null ,user_sig = null ,
         `name` = CONCAT_WS("",`name`,"(旧)") ,
         is_cancel = 1
         where mobile = #{mobile}
    </update>
    <update id="updateDoctorIdByIndex">
        UPDATE t_doctor_user
        SET `index` = `index` + 1
        WHERE id IN
        <foreach collection="ids" open="(" close=")" separator="," item="ids">
            #{ids}
        </foreach>
    </update>

    <select id="findDoctorUserByIds" resultType="com.aihoo.domain.doctor.model.entity.DoctorUser">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_doctor_user WHERE
        hospital_id = #{hospitalId}
        AND depart_code IN
        <foreach collection="updateIds" open="(" close=")" separator="," item="updateIds">
            #{updateIds}
        </foreach>

    </select>

    <select id="findDoctorDetailsById" resultMap="BaseResultMap">
       SELECT
	    u.*,s.*,t.*,
	    s.id as doctor_set_id,
	    t.id as doctor_set_times_id
        FROM
	    t_doctor_user u
        LEFT JOIN t_doctor_set s ON u.id = s.doctor_user_id
        LEFT JOIN t_doctor_set_times t ON s.doctor_user_id = t.doctor_user_id
        WHERE u.id = #{id}
    </select>

    <select id="findByDoctorUserIds" resultType="com.aihoo.domain.doctor.model.entity.DoctorUser">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_doctor_user
        WHERE hospital_id IN
        <foreach collection="ids" open="(" close=")" separator="," item="ids">
            #{ids}
        </foreach>
    </select>

    <select id="findByObject" resultType="com.aihoo.domain.doctor.model.entity.DoctorUser">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_doctor_user
        <include refid="whereSql"/>
    </select>


    <select id="selectDoctorUserPage" resultType="com.aihoo.domain.doctor.model.entity.DoctorUser">
        SELECT<include refid="Base_Column_List"/>,
        CASE is_auth
        WHEN 'NONE' THEN 0
        WHEN 'WAIT' THEN 1
        WHEN 'REJECT' THEN 2
        ELSE 3 END AS order_by_is_auth
        FROM t_doctor_user
        WHERE is_cancel = 0
        <if test="map.memberNum != null and map.memberNum != ''">
            and member_num LIKE CONCAT('%',#{map.memberNum},'%')
        </if>
        <if test="map.name!=null and map.name !=''">
            and `name` LIKE CONCAT('%',#{map.name},'%')
        </if>
        <if test="map.hospitalName!=null and map.hospitalName !=''">
            and hospital_name LIKE CONCAT('%',#{map.hospitalName},'%')
        </if>
        <if test="map.departName!=null and map.departName !=''">
            and depart_name LIKE CONCAT('%',#{map.departName},'%')
        </if>
        <if test="map.mobile!=null and map.mobile !=''">
            and mobile = #{map.mobile}
        </if>
        ORDER BY order_by_is_auth , create_time DESC , ISNULL(`index`),`index`,id ASC
    </select>
    <select id="selectDoctorIdByIndex" resultType="java.lang.Integer">
        SELECT id FROM t_doctor_user
        WHERE is_cancel = 0 AND `index` <![CDATA[ >= ]]> #{index}
    </select>

    <select id="getByTeamId" resultType="com.aihoo.domain.doctor.model.vo.SearchTeamDoctorVo">
          SELECT DISTINCT t_doctor_user.name                      doctorName,
                        t_doctor_user.hospital_name             hospitalName,
                        t_doctor_user.depart_name               departName,
                        t_doctor_user.office_holder_name        officeHolderName,
                        t_doctor_user.position_name             positionName,
                        t_doctor_user.head_img                  doctorHeadImg,
                        t_doctor_user.be_good_at_text           beGoodAtText,
                        t_doctor_user.is_auth                   isAuth,
                        t_doctor_user.status                    status,
                        t_doctor_user.is_cancel                 isCancel,
                        CAST(t_mdt_team_doctor.is_main AS CHAR) isMain,
                        t_mdt_team.id                           teamId,
                        t_mdt_team.price                        TeamPrice,
                        t_mdt_team.details_img                  detailsImg,
                        t_mdt_team.home_img                     homeImg,
                        t_mdt_team.list_img                     listImg,
                        t_mdt_team.name                         teamName,
                        t_mdt_team.introduction                 introduction
        FROM t_doctor_user
                     LEFT JOIN t_mdt_team_doctor ON t_mdt_team_doctor.doctor_user_id = t_doctor_user.id
                     LEFT JOIN t_mdt_team ON t_mdt_team.id = t_mdt_team_doctor.mdt_team_id
        WHERE t_mdt_team.id = #{teamId,jdbcType=VARCHAR}
          AND t_mdt_team_doctor.doctor_type = 'CONSULTANT'
          AND t_mdt_team.is_delete = '0'
    </select>


    <sql id="whereSql">
        <where>
            <if test="id != null and id != '' ">
                id = #{id}
            </if>
            <if test="hospitalId != null and hospitalId != ''">
                and hospital_id = #{hospitalId}
            </if>
        </where>
    </sql>

    <resultMap id="BaseResultMap" type="com.aihoo.domain.doctor.model.entity.DoctorUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="head_img" jdbcType="VARCHAR" property="headImg"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <result column="member_num" jdbcType="VARCHAR" property="memberNum"/>
        <result column="hospital_id" jdbcType="BIGINT" property="hospitalId"/>
        <result column="hospital_name" jdbcType="VARCHAR" property="hospitalName"/>
        <result column="depart_id" jdbcType="BIGINT" property="departId"/>
        <result column="depart_code" jdbcType="VARCHAR" property="departCode"/>
        <result column="depart_name" jdbcType="VARCHAR" property="departName"/>
        <result column="office_holder_code" jdbcType="VARCHAR" property="officeHolderCode"/>
        <result column="office_holder_name" jdbcType="VARCHAR" property="officeHolderName"/>
        <result column="achievement" jdbcType="VARCHAR" property="achievement"/>
        <result column="be_good_at_text" jdbcType="VARCHAR" property="beGoodAtText"/>
        <result column="introduction_text" jdbcType="VARCHAR" property="introductionText"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="is_auth" jdbcType="VARCHAR" property="isAuth"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="ca_number" jdbcType="VARCHAR" property="caNumber"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="person_type_code" jdbcType="VARCHAR" property="personTypeCode"/>
        <result column="person_type_name" jdbcType="VARCHAR" property="personTypeName"/>
        <result column="position_code" jdbcType="VARCHAR" property="positionCode"/>
        <result column="position_name" jdbcType="VARCHAR" property="positionName"/>
        <result column="papers_code" jdbcType="VARCHAR" property="papersCode"/>
        <result column="papers_name" jdbcType="VARCHAR" property="papersName"/>
        <result column="papers_numbers" jdbcType="VARCHAR" property="papersNumbers"/>
        <result column="user_sig" jdbcType="VARCHAR" property="userSig"/>
        <result column="is_cancel" jdbcType="TINYINT" property="isCancel"/>
        <result column="index" jdbcType="INTEGER" property="index"/>
        <result column="doctor_type" jdbcType="VARCHAR" property="doctorType"/>
        <result column="medical_license_page_one" jdbcType="VARCHAR" property="medicalLicensePageOne"/>
        <result column="medical_license_page_two" jdbcType="VARCHAR" property="medicalLicensePageTwo"/>
        <result column="medical_license_no" jdbcType="VARCHAR" property="medicalLicenseNo"/>
        <result column="medical_license_issue_date" jdbcType="VARCHAR" property="medicalLicenseIssueDate"/>
        <result column="practice_certificate_page_one" jdbcType="VARCHAR" property="practiceCertificatePageOne"/>
        <result column="practice_certificate_page_two" jdbcType="VARCHAR" property="practiceCertificatePageTwo"/>
        <result column="practice_certificate_no" jdbcType="VARCHAR" property="practiceCertificateNo"/>
        <result column="practice_certificate_issue_date" jdbcType="VARCHAR" property="practiceCertificateIssueDate"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <association property="doctorSet" javaType="com.aihoo.domain.doctor.model.entity.DoctorSet">
            <id property="id" column="doctor_set_id"/>
            <result column="is_img" jdbcType="TINYINT" property="isImg"/>
            <result column="is_voice" jdbcType="TINYINT" property="isVoice"/>
            <result column="is_video" jdbcType="TINYINT" property="isVideo"/>
            <result column="is_revisit" jdbcType="TINYINT" property="isRevisit"/>
            <result column="img_price" jdbcType="DECIMAL" property="imgPrice"/>
            <result column="voice_price" jdbcType="DECIMAL" property="voicePrice"/>
            <result column="video_price" jdbcType="DECIMAL" property="videoPrice"/>
            <result column="is_mdt" jdbcType="DECIMAL" property="isMdt"/>
            <result column="is_combination" jdbcType="DECIMAL" property="isCombination"/>
        </association>
        <collection property="doctorSetTimes" ofType="com.aihoo.domain.doctor.model.entity.DoctorSetTimes">
            <id property="id" column="doctor_set_times_id"/>
            <result column="week_code" jdbcType="VARCHAR" property="weekCode"/>
            <result column="week_name" jdbcType="VARCHAR" property="weekName"/>
            <result column="start_time" jdbcType="VARCHAR" property="startTime"/>
            <result column="end_time" jdbcType="VARCHAR" property="endTime"/>
            <result column="type" jdbcType="VARCHAR" property="type"/>
        </collection>
    </resultMap>
</mapper>
